.card {
    max-width: 100%;
}

.card .calendar-icon {
    width: 2rem;
    max-width: 100%;
}

.upload-certificado {
    width: fit-content;
}

.upload-certificado #upload-icon {
    font-size: 1.4rem;
}

#upload-certificado-label {
    border-radius: 5rem;
}

.label-upload-pdf {
    cursor: pointer;
}

.card .card-sub-text,
.certificate-notification {
    font-size: 1.2rem;
}