.card-body p,
.card-body span {
    color: #8C8B8B;
}

.card-body span {
    font-size: 1.1rem;
}

.title img {
    max-width: 6rem;
}

.card {
    max-width: 25rem;
}

.card-body img {
    max-width: 1.5rem;
}