@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.nav-item .user-link {
    border-radius: 1.5rem;
}

.nav-user-name {
    color: #000000a6;
}

main {
    font-family: "Instrument Sans", sans-serif;
    color: #000000a6;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main .card-title {
    color: #135FC2;
    font-family: "Unbounded", sans-serif;
}

footer {
    background: linear-gradient(to right, #135FC2, #0AD1C8);
    font-family: "Kodchasan", sans-serif;
}