@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    width: 100%;
}

body {
    background: linear-gradient(29deg, #14919B, #0AD1C8);
    background-attachment: fixed;
}

#signin-img {
    max-width: 600px;
}

#signin-form {
    border-radius: 30px;
    padding: 30px;
}

#login-divisor {
    color: #8C8B8B;
}

#sigin-button {
    border-radius: 50px;
}

#login-button {
    border: 1px solid #8C8B8B;
    border-radius: 50px;
}

main {
    gap: 50px;
    font-family: "Instrument Sans", sans-serif;
    color: #8C8B8B;
}

main h1 {
    color: #135FC2;
    font-family: "Unbounded", sans-serif;
    font-weight: normal;
}

#form-container {
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
}

@media (max-width: 768px) {
    main {
        gap: 30px;
    }

    .background-image {
        max-width: 100%;
        text-align: center;
    }

    #signin-img {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    #signin-form {
        padding: 20px;
    }

    main {
        padding: 10px;
        gap: 20px;
    }
}

form .btn.btn-primary {
    font-size: 1.1rem;
    font-weight: 500;
}