.table thead {
    --bs-table-bg: #0d6efd;
    --bs-table-color: white;
}

table.table tbody tr td,
table.table tbody tr th {
    color: #000000a6;
}

@media (max-width: 768px) {
    button.btn-busca {
        max-width: 100%;
        width: 100%;
    }
}